{% extends 'email/layout.html.twig' %}

{% block header %}
    <p>Successful Registration</p>
    <hr>
{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <td>Welcome on site <span class="text-primary">{{ userName }}</span></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>You have successfully registered on the site</td>
        </tr>
        <tr>
            <td>To activate your account, follow the link:
                <a href="{{ hostName ~ '/login?_verification_token=' ~ userRegistrationToken }}">{{ 'Verification now' }}</a>
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}