{% block form %}
    <div class="row d-flex flex-wrap justify-content-center align-items-center p-3 text-white">
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_widget(commentForm.text, {'attr': {'class': 'form-control', 'rows': '4', 'cols': '90',  'placeholder': 'Comment'}}) }}
            </div>

            <div class="form-group d-flex justify-content-end align-items-center">
                {{ form_widget(commentForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(commentForm) }}
    </div>
{% endblock %}