{% extends 'layout.html.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
    <main class="h-100 bg-light d-flex flex-column justify-content-start align-items-center">
        <div class="wrapper w-100 bg-white p-5 border-bottom border-dark">
            <h1 class="text-center">
                <span class="welcome-text">Hello World</span>
            </h1>
        </div>

        <div class="wrapper mt-5 news-list bg-secondary">
            <div class="container">
                <div class="row d-flex flex-wrap justify-content-center align-items-center p-4 text-white">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis,
                        dignissimos esse fuga harum itaque nobis quasi quisquam recusandae suscipit
                        tempore unde ut veniam voluptates voluptatibus? At beatae doloribus eius iste
                        neque nobis optio porro provident sunt vitae. Aliquam, blanditiis delectus
                        deleniti et eum explicabo facere fuga impedit in nesciunt nulla praesentium
                        quo, repellendus. Adipisci aliquam aspernatur at consectetur ducimus eos eveniet
                        expedita illum, itaque laboriosam mollitia nulla placeat, quam quisquam ratione sint,
                        sit temporibus tenetur voluptas voluptates! Accusamus amet architecto at cupiditate
                        dolore, dolores eaque, earum exercitationem illo, modi nostrum numquam odio porro
                        quia quisquam saepe sapiente similique temporibus.</p>

                    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias
                        asperiores at atque, autem culpa dolor doloribus eius exercitationem fuga fugit hic iste iusto
                        maiores maxime natus necessitatibus nulla odit officia perspiciatis quidem ratione repudiandae
                        tempora temporibus totam unde veniam voluptas voluptatem voluptatibus. Aliquid delectus
                        distinctio placeat quaerat soluta!</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
